@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "coolvetica";
  src: url('./fonts/coolvetica.otf'), 
  /* local("coolvetica"), */
}

body {
  font-family: 'coolvetica' !important;
  letter-spacing: 1px;
}